body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100px;
    position: fixed;
    top:0;
    z-index: 4;
}

#title {
    grid-column: 2 / 3;
}

.hamburger {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column; 
    opacity:0;
    transition: opacity 0.5 ease;
}

.hamburger span {
    height: 5px;
    width: 20px;
    margin:3px;
    background-color: azure;
}

div.fade-in {
    opacity:1;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    position: fixed;
    width: 100%;
    height : 45px;
    top:100px;
    z-index: 2;
    /* opacity: 1; */
    transition: top 0.5s ease;
}

nav.slide-up {
    top: -45px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

#content {
    position: relative;
    top: 145px;
}

.square-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* align-items: flex-start; */
    flex-direction: column;
}

.square {
    width:200px;
    height: 200px;
    background-color: aquamarine;
    margin: 30px;
}