<header>
    <div id="first-line-header">
        <h1 id="title">Boutique</h1>
        <div id="first-line-header-leftside">

            <div class="icon-container">
                <img class="connexion-icon" src="/icons/connexion.png" alt="Icon">  

                <div id="connexion-submenu">
                <a id="showLoginTabButton">Mon compte</a>
                </div>

            </div>

            <div class="hamburger">   
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

    </div>
    <nav class="horizontal-nav">
        <a href="/">Acceuil</a>
        <a href="/products" >Produits</a>
        <a href="#">Contacts</a>
    </nav>

    <nav class="vertical-nav">
        <a href="#">Acceuil</a>
        <a href="#">Produits</a>
        <a href="#">Contacts</a>
    </nav>
</header>